<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 명명법은 경로구분자로 .를 사용하고, 마지막 이름은 Mapper파일명으로 지어주는것이관레임 -->
<mapper namespace="com.pj.gabozago.mapper.AccomMapper">

	 <select id="getList" resultMap="AccomDTO" >
        SELECT 
            r.idx,
            r.accom_name,
            r.large_area_idx,
            a.large_area_name,  
            (select max(price) from tbl_accom_room where accom_idx = r.idx) as max_price,
            (select min(price) from tbl_accom_room where accom_idx = r.idx) as min_price,
            (select ai.file_name from tbl_accom_images ai where r.idx = ai.idx) as file_name
        FROM tbl_accom r ,tbl_large_area a
        WHERE r.large_area_idx = a.idx
        ORDER BY r.idx asc
	</select>

    <select id="selectSearchedAccomList" resultMap="AccomDTO">
        SELECT 
            r.idx,
            r.accom_name,
            r.large_area_idx,
            a.large_area_name,  
            (select max(price) from tbl_accom_room where accom_idx = r.idx) as max_price,
            (select min(price) from tbl_accom_room where accom_idx = r.idx) as min_price,
            (select ai.file_name from tbl_accom_images ai where r.idx = ai.idx) as file_name
        FROM tbl_accom r ,tbl_large_area a
        <where>
            r.large_area_idx = a.idx
            <if test="largeAreaIdx != null">AND r.large_area_idx = #{largeAreaIdx}</if>
        </where>
        ORDER BY r.idx asc
	</select>


	

    <select id="getOneAccomDetail" resultType="java.util.Map">
	    SELECT 
            r.idx,
            r.accom_name,
            r.address,
            r.latitude,
            r.longitude
		FROM tbl_accom r
		WHERE r.idx = #{idx}
	</select>
	

    <select 
        id="selectRoomList"
        resultType="java.util.LinkedHashMap">
		 SELECT 
            r.idx,
            r.accom_idx,
            r.room_name,
            r.room_desc,
            r.check_in,
            r.check_out,
            r.default_count,
            r.max_count,
            r.room_area,
            r.room_option,
            r.price,
            img.file_name
        FROM tbl_accom_room r,
        	tbl_accom_images img
        WHERE r.accom_idx = #{idx}
        	AND r.idx = img.accom_room_idx
    </select>


    <select id="selectRoomDetail" resultType="java.util.Map">
        SELECT 
            ar.idx,
            ar.accom_idx,
            ar.room_name,
            ar.room_desc,
            ar.check_in,
            ar.check_out,
            ar.default_count,
            ar.max_count,
            ar.room_area,
            ar.room_option,
            ar.price,
            img.file_name
        FROM tbl_accom_room ar ,tbl_accom_images img
        WHERE ar.idx = #{idx} AND ar.accom_idx =  img.accom_room_idx 
    </select>



 
    <resultMap type="com.pj.gabozago.domain.AccomDTO" id="AccomDTO">
        <result property="idx" column="IDX"/>
        <result property="accomName" column="ACCOM_NAME"/>
        <result property="largeAreaIdx" column="LARGE_AREA_IDX"/>
        <result property="address" column="ADDRESS"/>
        <result property="latitude" column="LATITUDE"/>
        <result property="longitude" column="LONGITUDE"/>
        <result property="insertTs" column="INSERTTS"/>
        <result property="updateTs" column="UPDATETS"/>
        
        <!-- property: travelPlanVO 클래스에 선언한 travelPlanDetailVO의 변수명, resultMap에는 travelPlanDetailVO의 resultmap id 넣기  -->
        <collection property="travellargeDTO" resultMap="trDTO"></collection>
        <collection property="accomroomDTO" resultMap="arDTO"></collection>
        <collection property="accomimagesDTO" resultMap="aiDTO"></collection>

    </resultMap>
    
 

	
    <!-- <resultMap type="java.util.Map" id="AccomDetailVO">
        <result property="idx" column="IDX"/>
        <result property="accomName" column="ACCOM_NAME"/>
    </resultMap> -->

    <resultMap type="com.pj.gabozago.domain.TravelLargeDTO" id="trDTO">
        <result property="idx" column="IDX" />
        <result property="largeAreaName" column="LARGE_AREA_NAME" />
    </resultMap>

    <resultMap type="com.pj.gabozago.domain.AccomRoomDTO" id="arDTO">
        <result property="idx" column="IDX"/>
        <result property="accomIdx" column="ACCOM_IDX" />
        <result property="roomName" column="ROOM_NAME" />
        <result property="roomDesc" column="ROOM_DESC" />
        <result property="checkIn" column="CHECK_IN" />
        <result property="checkOut" column="CHECK_OUT" />
        <result property="defaultCount" column="DEFAULT_COUNT" />
        <result property="maxCount" column="MAX_COUNT" />
        <result property="roomArea" column="ROOM_AREA" />
        <result property="roomOption" column="ROOM_OPTION" />
        <result property="price" column="PRICE"/>
        <result property="maxPrice" column="MAX_PRICE" />
        <result property="minPrice" column="MIN_PRICE" />
    </resultMap>  

    <resultMap type="com.pj.gabozago.domain.AccomImagesDTO" id="aiDTO">
        <result property="idx" column="IDX" />
        <result property="fileName" column="FILE_NAME" />
        <result property="accomRoomIdx" column="ACCOM_ROOM_IDX" />
    </resultMap>
    


   

    

   
    

</mapper>
