<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapper.xml 파일의 FQCN(상세경로 포함 정확한 이름) -->
<mapper namespace="com.pj.gabozago.mapper.AdminReservMapper">

    <!-- id : 메소드명 -->
    <!-- parameterType="java.util.Map" 은 생략이 가능함 -->
    <!-- 숙소 예약 정보 -->
    <select 
        id="selectReservInfo"
        resultType="java.util.Map">
        SELECT
            r.idx, 
            m.name, 
            a.accom_name, 
            r.check_in_date, 
            r.check_out_date, 
            r.status
        FROM
            tbl_reservation r,
            tbl_member m,
            tbl_accom_room ar,
            tbl_accom a
        WHERE
            r.member_idx = m.idx
            AND ar.idx = r.accom_room_idx
            AND ar.accom_idx = a.idx
        OFFSET (#{cri.currPage} -1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    </select>
    
    <!-- 숙소 예약 취소 정보 -->
    <select 
        id="selectCanReservInfo"
        resultType="java.util.Map">
        SELECT
            r.idx, 
            m.name, 
            a.accom_name, 
            r.check_in_date, 
            r.check_out_date, 
            r.status
        FROM
            tbl_reservation r
           	LEFT OUTER JOIN tbl_member m ON r.member_idx = m.idx
           	LEFT OUTER JOIN tbl_accom_room ar ON ar.idx = r.accom_room_idx 
           	LEFT OUTER JOIN tbl_accom a ON ar.accom_idx = a.idx
        OFFSET (#{cri.currPage} -1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
        	
    </select>
    

</mapper>
