<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapper.xml 파일의 FQCN(상세경로 포함 정확한 이름) -->
<mapper namespace="com.pj.gabozago.mapper.MypagePointWriteMapper">

    <!-- id : 메소드명 -->
    <!-- parameterType="java.util.Map" 은 생략이 가능함 -->
    <select 
        id="selectUserPointList" 
        parameterType="map" 
        resultType="com.pj.gabozago.domain.PointHistoryVO">
        
        SELECT 
            /*+ INDEX_DESC(tbl_point_history) */ 
            idx, member_idx, point_amount, point_reason, is_plus, insert_ts
        FROM tbl_point_history
        WHERE member_idx = #{member.idx}
        OFFSET (#{cri.currPage} -1) * #{cri.amount} ROWS
        FETCH NEXT #{cri.amount} ROWS ONLY
    </select>

    <update id="updateMemberPoint">
        UPDATE tbl_member 
        SET point = 
            ((SELECT sum(point_amount) 
            FROM tbl_point_history 
            WHERE member_idx = #{idx} 
            AND is_plus = 'Y')
            -(SELECT sum(point_amount) 
            FROM tbl_point_history 
            WHERE member_idx = #{idx} 
            AND is_plus = 'N')) 
        WHERE idx = #{idx}
    </update>

</mapper>
