@charset "UTF-8";

/* 부트스트랩아이콘 */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

body {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  color: #333;
}

/* =================================== */


.info_detail {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

.info_exp {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.info_exp i {
  color: #666;
}

.info_exp h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}

.info_exp span {
  line-height: 1.7;
}

.info_exp_left {
  width: 80%;
}

.detail_reserve_btn {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #68ae6d;
  color: white;
  /* position: relative;
  top: 120px; */
  font-size: 17px;
}


.info_img img {
  width: 100%;
}

/* 부트스트랩슬라이드 */
.container {
  width: 810px;
  height: 400px;
  margin-bottom: 150px;
  position: relative;
  right: -10px;
}

.carousel-inner {
  border-radius: 10px;
}



/* 전체 wrap */
.wrap {
  width: 1240px;
  margin: 0 auto;
}
