@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mulish:wght@500&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    outline: 0;
    color: #000000;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}
.tab {
    margin-top: 60px;
    margin-bottom: 20px;

    display: flex;
}
.tab ul{
    display: flex;
}
.tab button {
    width: 620px;
    height: 50px;

    border: none;

    background-color: rgba(0, 0, 0, 0.1);

    font-size: 16pt;
    font-weight: 500;
}
.tab button:nth-of-type(1) {
    background-color: #68AE6D;
}
.box {
    background-color: rgba(0, 0, 0, 0.05);
}
.textWrapper{
    padding: 13px 29px 13px 29px;
}
.textWrapper p {
    padding-left: 30px;
}
footer {
    margin-top: 200px !important;
}