@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mulish:wght@500&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@500&display=swap');

body {
    margin: 0;
}
.policyTitle{
    margin: 17px 0px 25px 0px;
    list-style: none;
    padding: 0;
    font-size: 13pt;
}

footer a {
    text-decoration: none;
    outline: 0;
    color: #000000;
}

footer {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    /* 푸터 마진 조절 필요에따라서 조절 */
    /* margin-top: 200px; */
    background-color: #68AE6D;
    height: 200px;

    width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;

    font-size: 9pt;
}

footer img {
    width: 130px;
    height: 120px;
}
footer li {
    display: inline;
    margin-right: 15px;
    color: #ffffff !important;
}
footer p {
    color: #ffffff !important;
    margin-top: 10px;
}

footer .footerBox {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

footer li:hover {
    cursor: pointer;
}

.footerInfo {
    color: #ffffff !important;
}