@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mulish:wght@500&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@500&display=swap');

.mainContainer{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.mainContainer ul, ol {
    list-style: none;
}
.mainContainer a {
    text-decoration: none;
    outline: 0;
    color: #000000;
}
.wrapper {
    width: 1920px;
    overflow-x: hidden;

    margin: 0 auto;
}
.mainImgContainer{
    width: 100%;
    height: 910px;
    overflow: hidden;
    position: relative;
}
.mainImgContainer img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.mainContainer {
    position: relative;
    margin-bottom: 150px !important;
}

.mainContainer h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;

    color: #ffffff;
    font-size: 24pt !important;
}
.mainContainer span {
    font-size: 50px;
}
.downBtr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,80%);
    
    background: none;
    border: none;
}
.downBtr i{
    font-size: 50pt;
    color: #ffffff;
}


/* recommended area */
article {
    width: 1240px;
    margin: 0 auto;

    position: relative;
}

.largeContainer h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    color: #333333;

    margin-bottom:50px;
    text-align: center;
}
.largeContainer {
    margin-bottom: 20px !important;
}
/* .areaContainer p {
    font-size: 23px !important;
    text-align: center;

    color: #333333;
}
.areaContainer img{
    margin-bottom: 10px;

    width: 340px;
    height: 270px;

    border-radius: 10px;
}
.allAreaContainer {
    width:90%;
    display: flex;
    justify-content: space-between;
}

.areaArrow_container button {
    color: #68AE6D;
    background: none;

    border: none;

    font-size: 50px;
}
.areaArrow_container {
    height: 318px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.largeContainer {
    height: auto;
    margin-bottom: 80px;
} */
/* 추천여행지 슬라이드 */
.swiper-container {

    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    position: relative;
    width: 1240px;
    height: 320px;
}
.swiper {
    width: 90% !important;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-container button {
    color: #68AE6D;
    background: none;
    border: none;

    padding: 0;

    position: absolute;
    top:35%;

    font-size: 50px;
}
.swiper-slide > p{
   margin: 15px;
    font-size: 23px;
    font-weight: 500;
}
.swiper-container > .prevBtn {
    left: 5px;
}
.swiper-container > .nextBtn {
    right: 5px;
}
/* recommendContents */
.recommendContents {
    display: none;
}
.recommendContainer .current {
    display: inherit;
}
.placeList {
    margin-left: 60px;
    margin-right: 60px;

    display: flex;
    justify-content: space-between;
}
.decContainer {
    width: 750px;
}
.decContainer img{
    width: 750px;
    height: 420px;
}
.decContainer h2{
    font-size: 22pt;
    margin: 5px auto;
}
.subArea img{
    width: 300px;
    height: 190px;
}
.subArea p {
    font-size: 15pt;
    text-align: center;   
    margin-bottom: 7px;
}
/* best plan=============================== */
.best_plan {
    position: relative;
    width: 93%;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bestPlanOutter >h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* ----------------------------- best post --------------------------*/

.bestPost {
    margin: 0 40px;
}
.bestPost h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.postInfoBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.postInfo img {
    width:320px;
    height: 210px;
}
.postInfo li:nth-of-type(1) {
    font-size: 23px ;
    font-weight: 500;
}
.postInfo li:nth-of-type(2){
    margin-bottom: 10px;
    font-size: 15px;
    color: #666666;
}

