@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mulish:wght@500&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@500&display=swap');

.mainContainer{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.mainContainer ul, ol {
    list-style: none;
}
.mainContainer a {
    text-decoration: none;
    outline: 0;
    color: #000000;
}
.wrapper {
    width: 1920px;
    overflow-x: hidden;

    margin: 0 auto;
}
.mainImgContainer{
    width: 100%;
    height: 910px;
    overflow: hidden;
    position: relative;
}
.mainImgContainer img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.mainContainer {
    position: relative;
    margin-bottom: 150px !important;
}

.mainContainer h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline;

    color: #ffffff;
    font-size: 24pt !important;
}
.mainContainer span {
    font-size: 50px;
}
.downBtr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,80%);
    
    background: none;
    border: none;
}
.downBtr i{
    font-size: 50pt;
    color: #ffffff;
}


/* recommended area */
article {
    width: 1240px;
    margin: 0 auto;

    position: relative;
}

.largeContainer h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    color: #333333;

    margin-bottom:50px;
    text-align: center;
}
.largeContainer {
    height: 420px;
    margin-bottom: 20px !important;
}

/* recommendContents */
.recommendContainer {
    margin-top: 50px;
}
.recommendContents {
    display: none;
}
.recommendContainer .current {
    display: inherit;
}
.placeList {
    display: flex;
    justify-content: space-between;
}
.decContainer {
    width: 800px;
}
.decContainer img{
    width: 100%;
    height: 420px;
}
.decContainer h2{
    font-size: 22pt;
    margin: 30px auto;
}
.decContainer p {
    font-size: 20px;
}
.subArea img{
    width: 300px;
    height: 190px;
}
.subArea p {
    font-size: 15pt;
    text-align: center;   
    margin-bottom: 7px;
}

.bestPlanOutter >h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* ----------------------------- best post --------------------------*/

.bestPost h1 {
    font-size: 30px !important;
    font-weight: 500 !important;

    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.postInfoBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.postInfo img {
    width:320px;
    height: 210px;
}
.postInfo li:nth-of-type(1) {
    font-size: 20px ;
    font-weight: 500;
}
.postInfo li:nth-of-type(2){
    margin-bottom: 10px;
    font-size: 15px;
    color: #666666;
}

