
@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mulish:wght@500&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@500&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Noto Sans KR', sans-serif !important;
}
.mainImgContainer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.postInfo ul {
    padding: 0 !important;
}