@charset "utf-8";

/* 한국어 : font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 영어(다국어) : font-family: 'Noto Sans', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');w */

*{
    margin: 0;
    padding: 0;

    /* box-sizing: border-box; */

    font-family: 'Noto Sans KR', sans-serif;

    color: #333333;
}


#notice {
    margin-left: 50px;
    width: 920px;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #333;
}

ul li {
    list-style: none;
}

#accordion {
    justify-content: center;
    margin: 85px 30px auto 50px;
}

.card {
    /* float: left; */
    width: 250px;
    height: 450px;
    /* padding: 30px 50px 30px; */
    background-color: #68AE6D;
    background-color: rgba(104, 174, 109, 0.15);
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    /* text-decoration: none;
    vertical-align: middle; */
}

.card-header {
    /* background-color: transparent; */
    border-bottom: 1px solid rgba(0,0,0,.125);
    /* border-bottom: transparent; */
    /* background-color: rgba(0,0,0,.03); */
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color: transparent;
}

button {
    border: 0;
    display: flex;
    padding-left: 18px;
}


.title {
    margin: 0 0 15px 30px;
    font-size: 20px;
    font-weight: bold;
}


table {
    border-collapse: separate;
    border-spacing: 0;
}

.board-table-top {
    padding-bottom: 50px;
}

.board_list {
    width: 100%;
    position: relative;
    border-top: 3px solid #68ae6d;
    table-layout: fixed;
    border-collapse: collapse;
}

.notice_table {
    border-top: none;
    padding-top: 5px;
}

.notice_table:before {
    width: 100%;
    height: 5px;
    background: #68ae6d;
    border-radius: 10px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
}

.board_list caption {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

.board_list tr {
    width: 100%;
}

.notice_table thead .num {
    width: 102px;
}

.board_list th {
    padding: 23px 0;
    position: relative;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #333;
    vertical-align: middle;
    border-bottom: 2px solid #ddd;
}

.notice_table thead .title_N {
    width: auto;
}

.board_list th:before {
    content: '';
    display: block;
    width: 1px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6.5px;
    background: #dedede;
}

.notice_table th:before {
    height: 14px;
}

.notice_table thead .date {
    width: 208px;
}

.notice_table thead .views {
    width: 130px;
}

.notice_table tbody td {
    padding: 15px 0 15px;
    cursor: auto;
    cursor: initial;
}

.board_list tr td {
    font-size: 15px;
}

.notice_table tbody .title_N {
    text-align: left;
    line-height: 1.8;
    word-break: keep-all;
}

.notice_table tbody .title_N a {
    padding-left: 50px;
    font-size: 16px;
    color: #333;
    display: block;
    /* letter-spacing: -0.01em; */
}

.notice_table tbody .date {
    letter-spacing: 0.05em;
}

.board_list td {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #666;
    vertical-align: middle;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    -webkit-transition: background 300ms;
    transition: background 300ms;
}

.notice_table tbody td {
    padding: 23px 0 24px;
    cursor: auto;
    cursor: initial;
}


footer{
    width: 100%;
    height: 280px;
    background-color: #68AE6D;
    clear: both;
}

i {
    padding-left: 15px;
    font-size: 20px;
}

.wrap {
    /* max-width: 990px; */
    display: flex;
    justify-content: center;
    margin: 50px 50px;
}