* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.pw_box {
    width: 500px;
    height: 400px;
    margin-top: 300px;
    margin-bottom: 150px;
    /* border: 1px solid #bec3be; */
    border-radius: 10px;
    display: block;
    text-align: center;
    /* background-color: #f6fef6; */
}

h2.scs {
    font-size: 40px;
    margin: 60px 10px;
    color: #333;
}

.pw_box img {
    width: 80px;
    height: 75px;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 30px;
}


input[type=password] {
    width: 150px;
    height: 35px;
    font-size: 18px;
    margin-left: 20px;
    border: 1px solid #999;
    border-radius: 5px;
}

input[type=button] {
    width: 70px;
    height: 35px;
    border-radius: 3px;
    color: #333;
    background-color: #e2e2e2;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

input[type=submit] {
    width: 70px;
    height: 35px;
    background-color: #68ae6d;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}